<main class="mt-5 pt-3">
    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="d-flex justify-content-between mt-2">
            <div class="row">
                <div class="title-page col-md-12 fw-bold fs-3">
                    <i class="fa fa-info-circle"></i> <span class="mx-1" translate="commons.details"></span>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item link" [routerLink]="['/device']" translate="device.device"></li>
                    <li class="breadcrumb-item active" aria-current="page">00E00</li>
                </ol>
            </nav>
        </div>
    </div>
</main>