<main class="mt-5 pt-3">
    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="d-flex justify-content-between mt-2">
            <div class="row">
                <div class="title-page col-md-12 fw-bold fs-3">
                    <i class="fa fa-info-circle"></i> <span class="mx-1" translate="commons.details"></span>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item link" [routerLink]="['/device']" translate="device.device"></li>
                    <li class="breadcrumb-item active" aria-current="page">{{device?.hostname}}</li>
                </ol>
            </nav>
        </div>


        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card">
                    <div class="card-header bg-info fw-bold text-white flex-between">
                        <div>
                            <span *ngIf="device">{{ device.hostname }}
                                <span *ngIf="device.description"> - {{ device.description }}</span>
                            </span>
                            <div class="spinner-border spinner-border-sm mx-2" role="status" *ngIf="loading">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div *ngIf="canAddFeatures()">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-puzzle-piece"></i> <span class="mx-2" translate="deviceStaff.addFeatures"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="link" *ngIf="!device?.deviceStaff"><a class="dropdown-item"
                                            (click)="onAddOrChangeStaff()"><i class="fas fa-user"></i> Usuario</a></li>
                                    <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-desktop"></i> Computador</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#"><i class="fas fa-ethernet"></i> Red</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fas fa-plug"></i> Energia</a></li> -->
                                    <!-- <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <tabset *ngIf="device" #featuresTabs>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="fa fa-info-circle"></i> <span class="mx-1" translate="device.details"></span>
                                    </ng-template>
                                    <div class="py-2">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-0"><span class="fw-bold">#</span> 
                                                {{ device.id }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="device.code"></span>:
                                                {{ device.code }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="device.tag"></span>:
                                                {{ device.tag }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="device.serialNumber"></span>:
                                                {{ device.serialNumber }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="commons.description"></span>:
                                                 {{ device.description }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="device.hostname"></span>:
                                                 {{ device.hostname }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="device.category"></span>:
                                                 {{ device.deviceCategory.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="department.department"></span>:
                                                 {{ device.department.name }}
                                            </li>
                                            <li *ngIf="device.active" class="list-group-item border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-success mx-1" translate="commons.active"></span>
                                            </li>
                                            <li *ngIf="!device.active" class="list-group-item  border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-danger mx-1" translate="commons.inactive"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="py-2" *ngIf="device.active">
                                        <button class="btn btn-sm btn-warning" (click)="onUpdate()"><i
                                                class="fas fa-pen"></i> <span class="mx-1"
                                                translate="commons.update"></span></button>
                                    </div>
                                </tab>
                                <tab *ngIf="device.deviceStaff">
                                    <ng-template tabHeading>
                                        <i class="fa fa-user"></i> <span class="mx-1" translate="users.user"></span>
                                    </ng-template>
                                    <div class="py-2">
                                        <ul class="list-group list-group-">
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="users.fullname"></span>: 
                                                {{ device.deviceStaff.staff.fullName }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="commons.email"></span>: 
                                                {{ device.deviceStaff.staff.email }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="branch.branch"></span>: 
                                                {{ device.deviceStaff.staff.department.branch.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="department.department"></span>: 
                                                {{ device.deviceStaff.staff.department.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="occupation.occupation"></span>: 
                                                {{ device.deviceStaff.staff.occupation.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold" translate="deviceStaff.login"></span>:
                                                {{ device.deviceStaff.login }}
                                            </li>
                                            <li *ngIf="device.deviceStaff.staff.active" class="list-group-item border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-success mx-1" translate="commons.active"></span>
                                            </li>
                                            <li *ngIf="!device.deviceStaff.staff.active" class="list-group-item border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-danger mx-1" translate="commons.inactive"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="py-2 flex-gap">
                                        <button class="btn btn-sm btn-warning" (click)="onAddOrChangeStaff()"><i
                                                class="fas fa-pen"></i> <span class="mx-1"
                                                translate="commons.update"></span></button>
                                        <button class="btn btn-sm btn-danger" (click)="confirmDeleteDeviceStaff()"><i
                                                class="fas fa-trash"></i> <span class="mx-1"
                                                translate="commons.delete"></span></button>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>