<main class="mt-5 pt-3">
    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="d-flex justify-content-between mt-2">
            <div class="row">
                <div class="title-page col-md-12 fw-bold fs-3">
                    <i class="fa fa-info-circle"></i> <span class="mx-1" translate="commons.details"></span>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item link" [routerLink]="['/device']" translate="device.device"></li>
                    <li class="breadcrumb-item active" aria-current="page">{{device?.hostname}}</li>
                </ol>
            </nav>
        </div>


        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card">
                    <div class="card-header bg-info fw-bold text-white flex-between">
                        <div>
                            <span *ngIf="device">{{ device.hostname }}
                                <span *ngIf="device.description"> - {{ device.description }}</span>
                            </span>
                            <div class="spinner-border spinner-border-sm mx-2" role="status" *ngIf="loading">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div *ngIf="canAddFeatures()">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-puzzle-piece"></i> <span class="mx-2"
                                        translate="deviceStaff.addFeatures"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="link" *ngIf="!device?.deviceStaff">
                                        <a class="dropdown-item" (click)="onAddOrChangeStaff()"><i
                                                class="fas fa-user"></i> Usuario</a>
                                    </li>
                                    <li class="link" *ngIf="!device?.deviceComputer">
                                        <a class="dropdown-item" (click)="onAddOrChangeComputer()"><i
                                                class="fas fa-desktop"></i> Computador</a>
                                    </li>
                                    <!-- <li><a class="dropdown-item" href="#"><i class="fas fa-ethernet"></i> Red</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fas fa-plug"></i> Energia</a></li> -->
                                    <!-- <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div>
                            <tabset *ngIf="device" #featuresTabs>
                                <tab>
                                    <ng-template tabHeading>
                                        <i class="fa fa-info-circle"></i> <span class="mx-1"
                                            translate="device.details"></span>
                                    </ng-template>
                                    <div class="py-2">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item border-0"><span class="fw-bold">#</span>
                                                {{ device.id }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="device.code"></span>:
                                                {{ device.code }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="device.tag"></span>:
                                                {{ device.tag }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="device.serialNumber"></span>:
                                                {{ device.serialNumber }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="commons.description"></span>:
                                                {{ device.description }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="device.hostname"></span>:
                                                {{ device.hostname }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="device.category"></span>:
                                                {{ device.deviceCategory.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="department.department"></span>:
                                                {{ device.department.name }}
                                            </li>
                                            <li *ngIf="device.active" class="list-group-item border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-success mx-1" translate="commons.active"></span>
                                            </li>
                                            <li *ngIf="!device.active" class="list-group-item  border-0"><span
                                                    class="fw-bold" translate="users.state"></span>:
                                                <span class="badge bg-danger mx-1" translate="commons.inactive"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="py-2" *ngIf="device.active">
                                        <button class="btn btn-sm btn-warning" (click)="onUpdate()"><i
                                                class="fas fa-pen"></i> <span class="mx-1"
                                                translate="commons.update"></span></button>
                                    </div>
                                </tab>
                                <tab *ngIf="device.deviceStaff">
                                    <ng-template tabHeading>
                                        <i class="fa fa-user"></i> <span class="mx-1" translate="users.user"></span>
                                    </ng-template>
                                    <div class="py-2">
                                        <ul class="list-group list-group-">
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="users.fullname"></span>:
                                                {{ device.deviceStaff.staff.fullName }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="commons.email"></span>:
                                                {{ device.deviceStaff.staff.email }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="branch.branch"></span>:
                                                {{ device.deviceStaff.staff.department.branch.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="department.department"></span>:
                                                {{ device.deviceStaff.staff.department.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="occupation.occupation"></span>:
                                                {{ device.deviceStaff.staff.occupation.name }}
                                            </li>
                                            <li class="list-group-item border-0"><span class="fw-bold"
                                                    translate="deviceStaff.login"></span>:
                                                {{ device.deviceStaff.login }}
                                            </li>
                                            <li *ngIf="device.deviceStaff.staff.active"
                                                class="list-group-item border-0"><span class="fw-bold"
                                                    translate="users.state"></span>:
                                                <span class="badge bg-success mx-1" translate="commons.active"></span>
                                            </li>
                                            <li *ngIf="!device.deviceStaff.staff.active"
                                                class="list-group-item border-0"><span class="fw-bold"
                                                    translate="users.state"></span>:
                                                <span class="badge bg-danger mx-1" translate="commons.inactive"></span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="py-2 flex-gap">
                                        <button class="btn btn-sm btn-warning" (click)="onAddOrChangeStaff()"><i
                                                class="fas fa-pen"></i> <span class="mx-1"
                                                translate="commons.update"></span></button>
                                        <button class="btn btn-sm btn-danger" (click)="confirmDeleteDeviceStaff()"><i
                                                class="fas fa-trash"></i> <span class="mx-1"
                                                translate="commons.delete"></span></button>
                                    </div>
                                </tab>
                                <tab *ngIf="device.deviceComputer">
                                    <ng-template tabHeading>
                                        <i class="fa fa-desktop"></i> <span class="mx-1"
                                            translate="deviceComputer.computer"></span>
                                    </ng-template>
                                    <div class="py-2">
                                        <tabset #propertiesTabs>
                                            <tab>
                                                <ng-template tabHeading>
                                                    <span class="mx-1" translate="commons.description"></span>
                                                </ng-template>
                                                <div>
                                                    <ul class="list-group list-group-">
                                                        <li class="list-group-item border-0"><span class="fw-bold"
                                                                translate="commons.category"></span>:
                                                            {{ device.deviceComputer.computerCategory.name }}
                                                        </li>
                                                        <li class="list-group-item border-0"><span class="fw-bold"
                                                                translate="commons.description"></span>:
                                                            {{ device.deviceComputer.description }}
                                                        </li>
                                                        <li *ngIf="device.deviceComputer.virtual"
                                                            class="list-group-item border-0"><span class="fw-bold"
                                                                translate="deviceComputer.virtual"></span>:
                                                            <span class="badge bg-success mx-1"
                                                                translate="commons.yes"></span>
                                                        </li>
                                                        <li *ngIf="!device.deviceComputer.virtual"
                                                            class="list-group-item  border-0"><span class="fw-bold"
                                                                translate="deviceComputer.virtual"></span>:
                                                            <span class="badge bg-danger mx-1"
                                                                translate="commons.no"></span>
                                                        </li>
                                                    </ul>
                                                    <div class="py-2 flex-gap">
                                                        <button class="btn btn-sm btn-warning"
                                                            (click)="onAddOrChangeComputer()"><i class="fas fa-pen"></i>
                                                            <span class="mx-1"
                                                                translate="commons.update"></span></button>
                                                        <button class="btn btn-sm btn-danger"
                                                            (click)="confirmDeleteDeviceComputer()"><i
                                                                class="fas fa-trash"></i> <span class="mx-1"
                                                                translate="commons.delete"></span></button>
                                                    </div>
                                                </div>
                                            </tab>
                                            <tab>
                                                <ng-template tabHeading>
                                                    <i class="fas fa-microchip"></i>
                                                    <span class="mx-1" translate="deviceComputer.cpu"></span>
                                                </ng-template>
                                                <div class="computer-tab-content m-3" *ngIf="deviceComputerCpuForm">
                                                    <form class="my-3 d-flex gap-1" [formGroup]="deviceComputerCpuForm"
                                                        (ngSubmit)="saveDeviceComputerCpu()">

                                                        <app-computer-cpu-autocomplete id="computerCpu"
                                                            [control]="computerCpuAutoComplete"
                                                            (onSelect)="onSelectCpu($event)">
                                                        </app-computer-cpu-autocomplete>

                                                        <app-input-group [form]="deviceComputerCpuForm"
                                                            translateLabel="computerCpu.core"
                                                            translatePlaceholder="computerCpu.placeholder.core"
                                                            id="core">
                                                        </app-input-group>

                                                        <div class="mb-3">
                                                            <label for="save-computer-cpu"
                                                                class="sr-only">computer-cpu</label><br>
                                                            <button id="save-computer-cpu" type="submit"
                                                                class="btn btn-primary"
                                                                [disabled]="deviceComputerCpuForm.invalid"
                                                                translate="commons.add"></button>
                                                        </div>
                                                    </form>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th translate="deviceComputer.cpu"></th>
                                                                <th translate="computerCpu.core"></th>
                                                                <th translate="computerCpu.frequency"></th>
                                                                <th translate="computerCpu.socket"></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let cpus of device.deviceComputer.computerCpuList">
                                                                <td>{{ cpus.computerCpu.brandName }} - {{
                                                                    cpus.computerCpu.model }} </td>
                                                                <td>{{ cpus.core }} </td>
                                                                <td>{{ cpus.computerCpu.frequency }} </td>
                                                                <td>{{ cpus.computerCpu.socket }}</td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </tab>
                                            <tab>
                                                <ng-template tabHeading>
                                                    <i class="fas fa-memory"></i>
                                                    <span class="mx-1" translate="deviceComputer.memory"></span>
                                                </ng-template>
                                                <div class="computer-tab-content m-3" *ngIf="deviceComputerMemoryForm">

                                                    <form class="my-3 d-flex gap-1"
                                                        [formGroup]="deviceComputerMemoryForm"
                                                        (ngSubmit)="saveDeviceComputerMemory()">

                                                        <app-computer-memory-autocomplete id="computerCpu"
                                                            [control]="computerCpuAutoComplete"
                                                            (onSelect)="onSelectMemory($event)">
                                                        </app-computer-memory-autocomplete>

                                                        <app-input-group [form]="deviceComputerMemoryForm"
                                                            translateLabel="computerMemory.modules"
                                                            translatePlaceholder="computerMemory.modules" id="modules">
                                                        </app-input-group>

                                                        <div class="mb-3">
                                                            <label for="save-computer-memory"
                                                                class="sr-only">computer-memory</label><br>
                                                            <button id="save-computer-memory" type="submit"
                                                                class="btn btn-primary"
                                                                [disabled]="deviceComputerMemoryForm.invalid"
                                                                translate="commons.add"></button>
                                                        </div>

                                                    </form>

                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th translate="deviceComputer.memory"></th>
                                                                <th translate="computerMemory.modules"></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let mem of device.deviceComputer.computerMemoryList">
                                                                <td>{{mem.computerMemory.brandName}} 
                                                                    {{mem.computerMemory.type}} 
                                                                    {{mem.computerMemory.size}}GB 
                                                                </td>
                                                                <td>{{mem.modules}}</td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </tab>
                                            <tab>
                                                <ng-template tabHeading>
                                                    <i class="fas fa-database"></i>
                                                    <span class="mx-1" translate="deviceComputer.storage"></span>
                                                </ng-template>
                                                <div class="computer-tab-content m-3" *ngIf="deviceComputerStorageForm">
                                                    <form class="my-3 d-flex gap-1"
                                                        [formGroup]="deviceComputerStorageForm"
                                                        (ngSubmit)="saveDeviceComputerStorage()">

                                                        <app-computer-storage-autocomplete id="computerStorage"
                                                            [control]="computerStorageAutoComplete"
                                                            (onSelect)="onSelectStorage($event)">
                                                        </app-computer-storage-autocomplete>

                                                        <app-input-group [form]="deviceComputerStorageForm"
                                                            translateLabel="computerStorage.size"
                                                            translatePlaceholder="computerStorage.placeholder.size" id="size">
                                                        </app-input-group>

                                                        <div class="mb-3">
                                                            <label for="save-computer-storage"
                                                                class="sr-only">computer-storage</label><br>
                                                            <button id="save-computer-storage" type="submit"
                                                                class="btn btn-primary"
                                                                [disabled]="deviceComputerStorageForm.invalid"
                                                                translate="commons.add"></button>
                                                        </div>

                                                    </form>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th translate="commons.brand"></th>
                                                                <th translate="commons.type"></th>
                                                                <th translate="computerStorage.size"></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let storages of device.deviceComputer.computerStorageList">
                                                                <td>{{storages.computerStorage.brandName}}</td>
                                                                <td>{{storages.computerStorage.type}}</td>
                                                                <td>{{storages.size}}</td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </tab>
                                            <tab *ngIf="false">
                                                <ng-template tabHeading="">
                                                    <i class="fas fa-window-restore"></i>
                                                    <span class="mx-1" translate="deviceComputer.software"></span>
                                                </ng-template>
                                                <div class="computer-tab-content m-3">
                                                    <div class="my-3 d-flex gap-1">
                                                        <input type="text" placeholder="Software" class="form-control">
                                                        <button class="btn btn-sm btn-primary">Agregar</button>
                                                    </div>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>SOFTWARE</th>
                                                                <th>LICENSE</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Microsoft Office</td>
                                                                <td><i>NO LICENSE</i></td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </tab>
                                            <tab *ngIf="false">
                                                <ng-template tabHeading>
                                                    <i class="fas fa-server"></i>
                                                    <span class="mx-1" translate="deviceComputer.server"></span>
                                                </ng-template>
                                                <div class="computer-tab-content m-3">
                                                    <div class="my-3 d-flex gap-1">
                                                        <input type="text" placeholder="Services" class="form-control">
                                                        <button class="btn btn-sm btn-primary">Agregar</button>
                                                    </div>
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>SERVICE</th>
                                                                <th>PORT</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Oracle Database 11G</td>
                                                                <td>1521</td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>ERP API</td>
                                                                <td>8080</td>
                                                                <td><i title="{{'commons.remove' | translate}}"
                                                                        class="fas fa-trash text-danger link link-animation"></i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </tab>
                                        </tabset>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>