<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!computerCpu" class="modal-title" translate="modal.computerCpu.new"></h5>
        <h5 *ngIf="computerCpu" class="modal-title" [translateParams]="{name: computerCpu.model}"
            translate="modal.update">
        </h5>
    </div>
    <form [formGroup]="computerCpuForm" (ngSubmit)="save()">

        <div class="modal-body">
            <!-- <div class="mb-3">
                <label for="brandName" translate="commons.brand" [ngClass]="{'validation-required': isInvalidControl('brandName')}"></label>
                <input autocomplete="off" type="text" formControlName="brandName" id="brandName" class="form-control"
                    placeholder="{{'commons.placeholder.brand' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'brandName'"></app-validation-field>
            </div> -->

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="commons.brand" 
            translatePlaceholder="commons.placeholder.brand"
            id="brandName">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="commons.model" 
            translatePlaceholder="commons.placeholder.model"
            id="model">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.generation" 
            translatePlaceholder="computerCpu.generation.placeholder"
            id="generation">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.socket" 
            translatePlaceholder="computerCpu.socket.placeholder"
            id="socket">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.core" 
            translatePlaceholder="computerCpu.core.placeholder"
            id="core">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.thread" 
            translatePlaceholder="computerCpu.placeholder.thread"
            id="thread">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.frequency" 
            translatePlaceholder="computerCpu.frequency.placeholder"
            id="frequency">
            </app-input-group>

            <app-input-group
            [form]="computerCpuForm"
            translateLabel="computerCpu.fsb" 
            translatePlaceholder="computerCpu.fsb.placeholder"
            id="fsb">
            </app-input-group>

        </div>

        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>