<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!computerCpu" class="modal-title" translate="modal.computerCpu.new"></h5>
        <h5 *ngIf="computerCpu" class="modal-title" [translateParams]="{name: computerCpu.model}"
            translate="modal.update">
        </h5>
    </div>
    <form [formGroup]="computerCpuForm" (ngSubmit)="save()">

        <div class="modal-body">
            <div class="mb-3">
                <label for="brandName" translate="computerCpu.brandName"></label>
                <input autocomplete="off" type="text" formControlName="brandName" id="brandName" class="form-control"
                    placeholder="{{'computerCpu.brandName.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'brandName'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="model" translate="computerCpu.model"></label>
                <input autocomplete="off" type="text" formControlName="model" id="model" class="form-control"
                    placeholder="{{'computerCpu.model.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'model'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="generation" translate="computerCpu.generation"></label>
                <input autocomplete="off" type="text" formControlName="generation" id="generation" class="form-control"
                    placeholder="{{'computerCpu.generation.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'generation'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="socket" translate="computerCpu.socket"></label>
                <input autocomplete="off" type="text" formControlName="socket" id="socket" class="form-control"
                    placeholder="{{'computerCpu.socket.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'socket'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="core" translate="computerCpu.core"></label>
                <input autocomplete="off" type="text" formControlName="core" id="core" class="form-control"
                    placeholder="{{'computerCpu.core.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'core'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="frequency" translate="computerCpu.frequency"></label>
                <input autocomplete="off" type="text" formControlName="frequency" id="frequency" class="form-control"
                    placeholder="{{'computerCpu.frequency.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'frequency'"></app-validation-field>
            </div>
 
            <div class="mb-3">
                <label for="fsb" translate="computerCpu.fsb"></label>
                <input autocomplete="off" type="text" formControlName="fsb" id="fsb" class="form-control"
                    placeholder="{{'computerCpu.fsb.placeholder' | translate}}">
                <app-validation-field [form]="computerCpuForm" [field]="'fsb'"></app-validation-field>
            </div>
        </div>

        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>