HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode
.history/*

### Angular ###
!**/src/main/webapp/dist
/src/main/webapp/tmp
/src/main/webapp/out-tsc
/src/main/webapp/bazel-out
/src/main/webapp/node_modules
/src/main/webapp/dist
/src/main/webapp/npm-debug.log
/src/main/webapp/yarn-error.log
/src/main/webapp/.angular/cache


### ASDF ###
.tool-versions
