<a class="nav-link dropdown-toggle" href="#" id="userFilter" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="fa fa-address-card"></i> <span class="mx-1" translate="occupation.occupation"></span>
</a>
<ul class="dropdown-menu p-2" aria-labelledby="userFilter" onclick="event.stopPropagation()">
    <input type="text" class="form-control form-control-sm mb-2" placeholder="Filtrar datos">

    <li class="dropdown-item">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Manager
            </label>
        </div>
    </li>
    <li class="dropdown-item">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
                CEO - 01
            </label>
        </div>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <span class="link text-primary"><small><strong>Limpar seleção</strong></small></span>
    <!-- <span class="link text-primary"><small><strong>Mostrar todos</strong></small></span> -->

</ul>