<div class="modal-dialog m-0">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" [translate]="'commons.'+title"></h5>
        </div>
        <div class="modal-body">
            <span [innerHTML]="'modal.'+message | translate:{record: param}"></span>
           <!-- <span [translate]="'modal.'+message" [translateParams]="{record: param}"></span> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" translate="commons.cancel" (click)="onDecline()"></button>
            <button type="button" class="btn btn-primary" translate="commons.yes" (click)="onConfirm()"></button>
        </div>
    </div>
</div>