<div class="card">
    <div class="card-header bg-primary fw-bold text-white flex-between">
        <div>
            <span translate="commons.category"></span>
            <div class="spinner-border spinner-border-sm mx-2" role="status" *ngIf="loading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div>
            <button class="btn btn-success text-white" (click)="onCreate()">
                <i class="fas fa-plus"></i>&nbsp;<span translate="commons.new"></span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-stripped">
            <thead>
                <th>#</th>
                <th translate="commons.category"></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <i title="{{'commons.actions' | translate}}" class="fas fa-chevron-circle-down link"
                            [id]="category.id" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="link-spin">
                                <a (click)="onUpdate(category)" class="dropdown-item">
                                    <i class="fas fa-pen"></i>&nbsp;
                                    <span translate="commons.edit"></span>
                                </a>
                            </li>
                            <div>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="link-spin">
                                    <a (click)="confirmDelete(category)" class="dropdown-item">
                                        <i class="fas fa-trash text-danger"></i>&nbsp;<span
                                            translate="commons.delete"></span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </td>
                </tr>
                <tr *ngIf="categories.length === 0">
                    <td colspan="2" translate="commons.noData"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>