<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!deviceCategory" class="modal-title" [translate]="messages.MODAL_NEW_DEVICE_CATEGORY"></h5>
        <h5 *ngIf="deviceCategory" class="modal-title" [translateParams]="{name: deviceCategory.name}" [translate]="messages.MODAL_UPDATE">
        </h5>
    </div>
    <form [formGroup]="deviceCategoryForm" (ngSubmit)="save()">
        <div class="modal-body">

            <app-input-group
            [form]="deviceCategoryForm"
            [translateLabel]="messages.DEVICE_CATEGORY" 
            [translatePlaceholder]="messages.DEVICE_CATEGORY"
            id="name">
            </app-input-group>

        </div>
        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                [translate]="messages.CANCEL"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" [translate]="messages.SAVE">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>