<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!computerStorage" class="modal-title" translate="modal.computerStorage.new"></h5>
        <h5 *ngIf="computerStorage" class="modal-title" [translateParams]="{name: computerStorage.brandName}" translate="modal.update">
        </h5>
    </div>
    <form [formGroup]="computerStorageForm" (ngSubmit)="save()">
        <div class="modal-body">

            <app-input-group
            [form]="computerStorageForm"
            translateLabel="commons.brand" 
            translatePlaceholder="commons.placeholder.brand"
            id="brandName">
            </app-input-group>

            <app-input-group
            [form]="computerStorageForm"
            translateLabel="computerStorage.transferRate" 
            translatePlaceholder="computerStorage.placeholder.transferRate"
            id="transferRate">
            </app-input-group>

            <app-input-group
            [form]="computerStorageForm"
            translateLabel="commons.type" 
            translatePlaceholder="commons.type"
            id="type">
            </app-input-group>
            
        </div>
        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>