/*================ FONTS ======================*/

 /* ________ Proppins ________ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/**** PATTERN COLOR ****

/** Cor menu e navbar : #212529  */

/*================ GLOBAL SETTINGS ======================*/
body, button, div, i, html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  transition: .1s ease all;
  -o-transition: .1s ease all;
  -webkit-transition: .1s ease all;
}

.img-avatar {
    border: 2px inset var(--third-color);
}

:root {
  /*======= SIZES ========*/
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --text-badge: 10px;
  --scrollbar-size: 6px;
  --scrollbar-color: hsla(231, 15%, 18%, 0.5);
  --scrollbar-thumb-color: hsla(231, 69%, 51%, 0.5);
  --scrollbar-thumb-hover-color: hsla(231, 70%, 62%, 0.5);
  --white-color: #FFF;
}

/*======= BOOTSTRAP OVERRIDE TABLE ========*/
/* .table-primary {
  --bs-table-bg: #cfe2ff;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bacbe6;
} */

/*================ STYLE SETTINGS ======================
@media (prefers-color-scheme: light) {
  :root {
    /*======= COLORS ========
    --normal-text: #212121;
    --bg-color: #023535;

    /*======= Bootstrap override ========
    --custom-primary: #006DCC;
    --custom-info:#49AFCD;
    --custom-success: #5BB75B;
    --custom-warning: #FAA732;
    --custom-danger: #DA4F49;

    /************** old********
    --dark-color: #023535;
    --first-color: #FFF;
    --hover-color: #e4e2e2;
    --text-color: hsl(0, 0%, 22%);
    --normal-color: hsl(0, 0%, 23%);
    --card-header-color: #fff;
    --success-color: hsl(147, 53%, 35%);
    --success-hover-color: hsl(147, 66%, 25%);
    --primary-color: hsl(217, 98%, 53%);
    --primary-hover-color: hsl(217, 82%, 34%);
    *
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /*======= COLORS ========
    --normal-text: #e9e9e9;
    --bg-color: #0FC2C0;
    
    /*======= Bootstrap override ========
  --custom-primary: #05335c;
  --custom-info:#1a5161;
  --custom-success: #114a11;
  --custom-warning: #b46b06;
  --custom-danger: #9a1b16;
  }
}*/

body[data-theme='dark'] {
  /*======= COLORS ========*/
  --normal-text: #f5f5f5;
  --normal-text-disabled: #808080;
  --bg-dark:#282A36;
  --even-color: #212529;
  --odd-color: #2C3034;
  --bg-color: #343746;
  --first-color: #282A36;
  --second-color: #343746;
  --third-color: #6271A2;
  

  /*======= Bootstrap override ========*/
  --custom-primary: #005dae;
  --custom-info:#2794b5;
  --custom-success: #067328;
  --custom-warning: #df8c17;
  --custom-danger: #be322d;
}

body[data-theme='light'] {
  /*======= COLORS ========*/
  --normal-text: #454545;
  --normal-text-disabled: #969696;
  --bg-dark: #282A36;
  --bg-color:#ffffff;
  --even-color: #E5E5E5;
  --odd-color: #ffffff;
  --first-color: #ffffff;
  --second-color: #ffffff;
  --third-color: #6271A2;
  
  
  
  /*======= Bootstrap override ========*/
  --custom-primary: #006DCC;
  --custom-info:#49AFCD;
  --custom-success: #5BB75B;
  --custom-warning: #FAA732;
  --custom-danger: #DA4F49;
}



/*================== BOOTSTRAP OVERRIDE ====================*/
.bg-primary {
  background-color: var(--custom-primary) !important;
}
.text-primary {
  color: var(--custom-primary) !important;
}
.bg-info {
  background-color: var(--custom-info) !important;
}
.text-info {
  color: var(--custom-info) !important;
}
.bg-success {
  background-color: var(--custom-success) !important;
}
.text-success {
  color: var(--custom-success) !important;
}
.bg-warning {
  background-color: var(--custom-warning) !important;
}
.text-warning {
  color: var(--custom-warning) !important;
}
.bg-danger {
  background-color: var(--custom-danger) !important;
}
.text-danger {
  color: var(--custom-danger) !important;
}

.row, .card, .table {
  margin: 0;
  padding: 0;
}

.form-control {
  background-color: var(--first-color) !important;
  color: var(--normal-text) !important;
}

input.form-control:disabled {
  color: var(--normal-text-disabled) !important;
}

h2, p {
  color: var(--normal-text);
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
}


/*================== LAYOUT STYLES ====================*/
body {
  background-color: var(--bg-color) !important;
}

/*=================== OVERRIDES ========================*/
.dropdown-menu, .dropdown-menu li, .dropdown-menu li a {
  background-color: var(--second-color) !important;
  color: var(--normal-text) !important;
}

.bg-dark {
  background-color: var(--bg-dark) !important;
}

/*==== NORMAL TEXT ====*/
.title-page, .text-custom, .breadcrumb-item {
  color: var(--normal-text) !important;
}

/*==== CARDS ====*/
.card {
  background-color: var(--second-color);
}
.card-header.bg-custom{
  background-color: var(--first-color);
  color: var(--normal-text) !important;
}
.card-body{
  color: var(--normal-text);
}
.flex-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}
.flex-evenly {
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly;
}
.flex-around {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around;
}
.flex-center {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}
.flex-end {
  display: flex;
  justify-content: end;
}
.flex-gap {
  display: flex;
  gap: 10px;
}
.card-footer.footer-pagination {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
}
.page-item .page-link {
  background-color: var(--first-color) !important;
  border: var(--first-color) !important;
  border: 1px solid var(--third-color) !important;
}
.page-item.active .page-link {
  background-color: var(--third-color) !important;
}

/*==== DEVICES ===*/
.text-left {
  text-align: left;
}

/*==== TABLES ====*/
.table thead {
  background-color: var(--first-color) !important;
  color: var(--normal-text) !important;
}
.table tbody tr td {
  color: var(--normal-text);
}
.table-striped>tbody>tr {
  border-bottom: .1px inset var(--third-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: var(--odd-color) !important;
  color: var(--normal-text) !important;
}
.table-striped>tbody>tr:nth-of-type(even)>*{
  background-color: var(--even-color) !important;
  color: var(--normal-text) !important;
}
.modal-content {
  background-color: var(--first-color) !important;
  color: var(--normal-text) !important;
}
.list-group-item:not(.active) {
  background-color: var(--first-color) !important;
  color: var(--normal-text) !important;
}

/*=========== GLOBAL SETTINGS =============*/
.link {
  cursor: pointer;
  text-decoration: none;
}

.link-strong:hover {
  font-weight: bold;
}

.link-animation:hover {
  transform: rotate(10deg) scale(1.2);
  transition: .4s;
}

.link-spin:hover .fas {
  transform: scale(1.3) rotate(5deg);
  transition-duration: 0.2s;
}

.link-spin:hover {
  cursor: pointer;
}

.link-color-normal:hover {
  color: var(--normal-text) !important;
  transition-duration: 0.2s;
}

.focus-0 {
  box-shadow: none !important;
}

.checkbox-filter-list {
  height: 200px;
  overflow-y: scroll;
}

/*============ NOTIFICATIONS ==============*/
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  display: table;
  width: 100%;
  cursor: pointer;
  margin: 5px 0;
  word-wrap: break-word;
  font-family: sans-serif;
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  padding-left: 61px;
  position: relative;
}

.alert-link {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  border-top-color: #d8d8d8;
  border-bottom-color: #bdbdbd;
  border-left-color: #cacaca;
  border-right-color: #cacaca;
  color: #404040;
  position: relative;
  text-align: center;
}

.alert-white.rounded {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}

.alert-white .icon:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

/*============ colors ========*/
.alert-success {
  color: #3c763d !important;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
  border-color: #54a754;
  background: #60c060;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #98cce6;
  color: #3a87ad !important;
}

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}

.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
  border-color: #d68000;
  background: #fc9700;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #f1daab;
  color: #c09853 !important;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #e0b1b8;
  color: #b94a48 !important;
}

.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
  border-color: #ca452e;
  background: #da4932;
}

.alert-more {
  color: var(--normal-text);
  height: 10px;
  padding: 0;
  margin: 0;
}

.alert-more:hover {
  font-weight: bold;
  color: var(--normal-text);
  background: none;
}

/*=========== NAVBAR ======================
.navbar-brand img {
  filter: drop-shadow(2px 4px 2px #00424b);
}


/*============== MENU ==========================*/
.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link,
.switch-nav {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.4s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
  transition: all ease 0.4s;
}

.navbar-nav .collapse {
  border-left: 5px outset var(--third-color);
  margin-left: 1px;
  background-color: var(--bg-dark);
}

#notification-content {
  width: 400px;
  margin: 0;
  padding: 2px 5px;
}

.navbar-submenu {
  border: none !important;
  margin: 0 !important;
}

.navbar-submenu li a:hover {
  border-left: 5px solid var(--bg-dark);
  transition: .1s;
}

/*================= DASHBOARD SCROLLBAR ==============*/
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  background-color: var(--scrollbar-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

/*======================== WIDGETS ===================
.widget-content .card-footer {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.widget-content .card-footer:hover .widget-icon {
  transform: translateX(0.2rem);
  transition: 0.4s;
  cursor: pointer;
}

.widget-content .widget-big-icon {
  color: var(--text-color);
}

.opacity-25 {
  opacity: 0.5;
}

/*=============== Card Llamados e tasts ======================
#dashboard-llamados .card,
#dashboard-llamados .card table tr {
  background-color: var(--first-color) !important;
  color: var(--text-color) !important;
}

/*=================== Chat ==================================
#toggle-users {
  cursor: pointer;
}

.chat-container {
  width: 100%;
  display: inline-flex;
  color: var(--text-color);
  height: 500px;
}

.chat-container .chat-contact-content {
  width: 35%;
  background-color: var(--success-color);
  color: #fff;
  transition: 0.4s;
  overflow: hidden;
}

.chat-container .chat-contact-content.float {
  width: 0;
  position: absolute;
  transition: 0.4s;
}

.chat-container .search-content {
  height: 4.5rem;
  position: relative;
}

.chat-container .search-content input {
  width: 90%;
  margin: 0 auto;
  height: 2.5rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: bold;
  border: none;
}

.chat-container .search-content input::placeholder {
  color: #fff;
}

.contact-content ul {
  height: 425px;
  overflow-y: scroll;
}

.contact-content ul li {
  cursor: pointer;
}

.contact-content ul li:hover {
  background-color: var(--success-hover-color) !important;
}

.contact-content .bg-contact-active {
  background-color: var(--success-hover-color) !important;
}

.contact-content .profile-img img {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.contact-content .profile-img .state-circle {
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
}

.contact-content .profile-img .bg-state-online {
  background-color: yellowgreen;
}

.contact-content .profile-img .bg-state-offline {
  background-color: #b8b8b8;
}

.contact-content .profile-img .bg-state-busy {
  background-color: red;
}

.contact-content .contact-content-data {
  display: flex;
  flex-direction: column;
}

.contact-content-list .contact-last-message {
  font-size: 0.7rem;
  font-style: italic;
}

.contact-content-data .contact-resum {
  font-size: 0.7rem;
}

.chat-container .chat-message-content {
  width: 65%;
  background-color: var(--first-color);
}

.chat-container .messages-content {
  height: 430px;
  overflow-y: scroll;
}

.chat-container .send-messages-content {
  height: 70px;
}

.chat-container .send-messages-content input {
  height: 50px;
}

.chat-container .list-messages {
  list-style: none;
  margin: 5px;
}

.chat-container .list-messages li {
  width: fit-content;
  max-width: 80%;
}

.chat-container .list-messages .msg-send {
  align-self: flex-end;
  max-width: 70%;
}

.chat-container .list-messages .msg-send .msg-data {
  background-color: var(--success-color);
  border-radius: 10px 10px 0px 10px;
  color: #fff;
}

.chat-container .list-messages .msg-send .msg-fecha {
  align-self: flex-end;
}

.chat-container .message img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--success-color);
}

.chat-container .message .msg-data {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 0 10px 10px 10px;
  padding: 5px;
}

.chat-container .message .msg-fecha {
  font-size: 0.7rem;
}

/*================ Activitys =======================
.activity-content .list-activity {
  height: 480px;
  overflow-y: scroll;
}

.activity-content .list-activity a,
.activity-footer a {
  text-decoration: none;
  color: var(--primary-color);
}

.activity-content .list-activity a:hover,
.activity-footer a:hover {
  color: var(--primary-hover-color);
}

.activity-content .list-activity .activity-time {
  font-size: 0.7rem;
}




/*======================== LOGIN =====================*/


/*____________________________________________ SCREEN ____________________________________________*/

/*============== LARGE SCREENS =======================*/
@media screen and (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
    z-index: 0;
  }
}

/*============== SMALL SCREENS =======================*/
@media screen and (max-width: 766px) {
  .chat-container .chat-contact-content {
    width: 0;
    overflow: hidden;
  }

  .chat-container .chat-message-content {
    width: 100%;
  }

  .chat-container .chat-contact-content.float {
    width: 100%;
    position: absolute;
    transition: 0.4s;
  }
}


/*============== ANIMATIONS =======================*/

.bell-animation {
  animation: bell-swing;
  animation-duration: .3s;
  animation-iteration-count: 1;
}

@keyframes bell-swing {
  0% {transform: rotate(-20deg);}
  25% {transform: rotate(20deg);}
  50% {transform: rotate(-20deg);}
  75% {transform: rotate(20deg);}
  100% {transform: rotate(0);}
}
