<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="license" class="modal-title">
            <span [translate]="messages.COMPUTER_LICENSE_MANAGE_KEYS"></span>
            <span *ngIf="!license.code"> - {{license.description}} </span>
            <span *ngIf="license.code"> - {{license.description}} [ {{ license.code }} ]</span>
        </h5>
    </div>

    <div class="modal-body">
        <div class="row">
            <form class="my-3 d-flex d-inline-flex gap-1" [formGroup]="licenseKeyForm" (ngSubmit)="save()">

                <app-input-group [form]="licenseKeyForm" [translateLabel]="messages.COMPUTER_LICENSE_KEY"
                    [translatePlaceholder]="messages.COMPUTER_LICENSE_KEY" id="key">
                </app-input-group>

                <app-input-group [form]="licenseKeyForm" [translateLabel]="messages.VOLUME"
                    [translatePlaceholder]="messages.COMPUTER_LICENSE_VOLUME" id="volume">
                </app-input-group>

                <div class="mt-4">
                    <button class="btn btn-success btn-md" [translate]="messages.ADD"></button>
                </div>
            </form>

        </div>

        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>KEY</th>
                        <th class="text-center" [translate]="messages.VOLUME"></th>
                        <th class="text-center" [translate]="messages.IN_USE"></th>
                        <th class="text-center" [translate]="messages.ASSIGNMENT"></th>
                        <th class="text-center" [translate]="messages.DELETE"></th>
                    </tr>
                </thead>
                <tbody *ngIf="license && license.keys">
                    <tr *ngFor="let key of license.keys">
                        <td>{{key.id}}</td>
                        <td>{{key.key}}</td>
                        <td class="text-center">{{key.volume != 0 ? key.volume : (messages.NO_LIMIT | translate)}}</td>
                        
                        <td class="text-center">{{key.assignedLicenses.length}}</td> 
                        <td class="link-spin text-center"><i class="far fa-share-square"></i></td>
                        <td class="link-spin text-center"><i (click)="onConfirmDelete(key)"
                                class="fas fa-trash text-danger"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button [disabled]="loading" type="button" class="btn btn-primary" (click)="closeModal()"
            [translate]="messages.CLOSE"></button>
    </div>

</div>