<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!branch" class="modal-title" translate="modal.branch.new"></h5>
        <h5 *ngIf="branch" class="modal-title" [translateParams]="{name: branch.name}" translate="modal.update"></h5>
    </div>
    <form [formGroup]="branchForm" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="name" translate="commons.name"></label>
                <input autocomplete="off" type="text" formControlName="name" id="name" class="form-control"
                    placeholder="{{'branch.name.placeholder' | translate}}">
                <app-validation-field [form]="branchForm" [field]="'name'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="company" translate="company.company"></label>
                <select formControlName="company" id="company" [compareWith]="compareWith" class="form-select">
                    <option translate="company.selectCompany" disabled selected value=""></option>
                    <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
                </select>
                <app-validation-field [form]="branchForm" [field]="'company'"></app-validation-field>
            </div>

        </div>
        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>