<main class="mt-5 pt-3">
    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="d-flex justify-content-between mt-2">
            <div class="row">
                <div class="title-page col-md-12 fw-bold fs-3">
                    <i class="fa fa-building"></i> <span class="mx-1" translate="menu.companies"></span>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page" translate="menu.companies"></li>
                </ol>
            </nav>
        </div>

        <div class="row m-5">
            <div class="col-md-4 col-xl-2 col-12">
                <div id="list-example" class="list-group p-1">
                    <a [ngClass]="{active: page==pages[0]}" [routerLink]="['/company/register']" [queryParams]="{page: 'company'}" class="list-group-item link" translate="menu.companies"></a>
                    <a [ngClass]="{active: page==pages[1]}" [routerLink]="['/company/register']" [queryParams]="{page: 'branch'}" class="list-group-item link" translate="menu.branches"></a>
                    <a [ngClass]="{active: page==pages[2]}" [routerLink]="['/company/register']" [queryParams]="{page: 'department'}" class="list-group-item link" translate="menu.departments"></a>
                </div>
            </div>
            <div class="col-md-8 col-xl-10 col-12">
                <app-company *ngIf="page==pages[0]"></app-company>
                <app-branch *ngIf="page==pages[1]"></app-branch>
                <app-department *ngIf="page==pages[2]"></app-department>
            </div>
        </div>
    </div>
</main>