<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!staff" class="modal-title" translate="modal.staff.new"></h5>
        <h5 *ngIf="staff" class="modal-title" [translateParams]="{name: staff.fullName}" translate="modal.update"></h5>
    </div>
    <form [formGroup]="staffForm" (ngSubmit)="save()">
        <div class="modal-body">

            <app-input-group
            [form]="staffForm"
            translateLabel="staff.fullname" 
            translatePlaceholder="users.fullname.placeholder"
            id="fullName">
            </app-input-group>

            <app-input-group
            [form]="staffForm"
            translateLabel="commons.email" 
            translatePlaceholder="users.email.placeholder"
            id="email">
            </app-input-group>

            <div class="mb-3">
                <label for="department" translate="department.department"></label>
                <div class="d-flex gap-2">
                    <select formControlName="department" id="department" [compareWith]="compareWith"
                        class="form-select">
                        <option translate="staff.selectDepartment" disabled selected value=""></option>
                        <option *ngFor="let d of departments" [ngValue]="d">{{d.branch.name}}-{{d.name}}</option>
                    </select>
                    <btn-new-department [loading]="loading" (onCreate)="onCreateDepartment($event)"></btn-new-department>
                </div>
                <app-validation-field [form]="staffForm" [field]="'department'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="occupation" translate="occupation.occupation"></label>
                <div class="d-flex gap-2">
                    <select formControlName="occupation" id="occupation" [compareWith]="compareWith"
                        class="form-select">
                        <option translate="staff.selectOccupation" disabled selected value=""></option>
                        <option *ngFor="let o of occupations" [ngValue]="o">{{o.name}}</option>
                    </select>
                    <btn-new-occupation [loading]="loading" (onCreate)="onCreateOccupation($event)"></btn-new-occupation>
                </div>
                <app-validation-field [form]="staffForm" [field]="'occupation'"></app-validation-field>
            </div>

        </div>
        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>