<div class="modal-content">
    <div class="modal-header">
        <h5 *ngIf="!staff" class="modal-title" translate="modal.staff.new"></h5>
        <h5 *ngIf="staff" class="modal-title" [translateParams]="{name: staff.fullName}" translate="modal.update"></h5>
    </div>
    <form [formGroup]="staffForm" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="fullName" translate="staff.fullname"></label>
                <input autocomplete="off" type="text" formControlName="fullName" id="fullName" class="form-control"
                    placeholder="{{'users.fullname.placeholder' | translate}}">
                <app-validation-field [form]="staffForm" [field]="'fullName'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="email" translate="commons.email"></label>
                <input autocomplete="off" type="email" formControlName="email" id="email" class="form-control"
                    placeholder="{{'users.email.placeholder' | translate}}">
                <app-validation-field [form]="staffForm" [field]="'email'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="department" translate="staff.department"></label>
                <div class="d-flex gap-2">
                    <select formControlName="department" id="department" [compareWith]="compareWith" class="form-select">
                        <option translate="staff.selectDepartment" disabled selected value=""></option>
                        <option *ngFor="let d of departments" [ngValue]="d">{{d.branch.name}}-{{d.name}}</option>
                    </select>
                    <button (click)="onCreateDepartment()" type="button" [disabled]="loading || !mainView" title="{{'commons.register' | translate}}" class="btn btn-primary"><i
                            class="fas fa-folder-plus"></i></button>
                </div>
                <app-validation-field [form]="staffForm" [field]="'department'"></app-validation-field>
            </div>

            <div class="mb-3">
                <label for="occupation" translate="staff.occupation"></label>
                <div class="d-flex gap-2">
                    <select formControlName="occupation" id="occupation" [compareWith]="compareWith" class="form-select">
                        <option translate="staff.selectOccupation" disabled selected value=""></option>
                        <option *ngFor="let o of occupations" [ngValue]="o">{{o.name}}</option>
                    </select>
                    <button (click)="onCreateOccupations()" type="button" [disabled]="loading || !mainView" title="{{'commons.register' | translate}}" class="btn btn-primary"><i
                            class="fas fa-folder-plus"></i></button>
                </div>
                <app-validation-field [form]="staffForm" [field]="'occupation'"></app-validation-field>
            </div>


        </div>
        <div class="modal-footer">
            <button [disabled]="loading" type="button" class="btn btn-outline-danger" (click)="closeModal()"
                translate="commons.cancel"></button>
            <button [disabled]="loading" type="submit" class="btn btn-success" translate="commons.save">
                <i *ngIf="loading" class="fas fa-spinner fa-pulse mx-1"></i>
            </button>
        </div>
    </form>
</div>