<main>
    <div class="container-fluid">
            <div class="card">
                <div class="logo">
                    <img src="/assets/img/logo-1920x556.png" width="280" alt="IT FLOW">
                    <div class="info">
                        <p translate="login.about"></p>
                    </div>
                </div>     
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form">                
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input formControlName="username" type="username" class="form-control" id="username" placeholder="{{'login.placeholder.username' | translate }}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            <input formControlName="password" type="password" class="form-control" id="password" placeholder="{{'login.placeholder.password' | translate }}" required>
                        </div>
                </div>
                <div class="button">
                    <button type="submit" [disabled]="loginForm.invalid || loading" class="btn btn-success btn-lg">
                        LOGIN <i *ngIf="loading" class="fas fa-spinner fa-pulse"></i>
                    </button>
                </div>
            </form>
                <div class="help">
                    <!-- <p class="text-muted" translate="login.forgetPwd"></p> -->
                </div>
            </div>
    </div>
</main>